<h1>Dashboard</h1>
<div class="container text-center">
  <div class="row">
    <div class="col card text-bg-success mb-3">
    <div class="card-header">Products</div>
    <div class="card-body">
      <p class="card-text"><%= @products.count %></p>
    </div>
    </div>
    <div class="col card text-bg-success mb-3">
    <div class="card-header">Categories</div>
    <div class="card-body">
      <p class="card-text"><%= @categories.count %></p>
    </div>
    </div>
  </div>
</div>

