<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <% if cart.empty? %>
    <div class="alert alert-success empty-cart-message text-center">
      <h2>Your cart is currently empty!</h2>
      <p>Find something you like and add it here.</p>
      <%= link_to 'Back to Home', root_path, class: 'btn btn-secondary' %>
    </div>
    
  <% else %>
    <%= render 'line_item' %>

  <% end %>
</section>
